:root{
    --header-height: 1.5rem;
    --header-color: white;
    --dock-height: 2.5rem;
    --main-color: rgb(177, 129, 129);
    --second-color: rgb(145, 135, 135);
    --third-color: rgb(140, 94, 94);
}
.Desktop-container{
    width: 100vw;
    height: 100vh;  
}
.Header-container{
    height: var(--header-height);
    background-color: grey;
    color: var(--header-color);
    display: flex;
    flex-direction: row;
}
.Header-button{
    height: var(--header-height);
    line-height: 1;
}
.Header-timer{
    width: fit-content;
    margin-right: 1rem;
    margin-left: auto;
}
.Applications-container{
    height: calc(100vh - var(--header-height) - var(--dock-height));
}
.Dock-container{
    height: var(--dock-height);
    background-color: grey;

}