.Portfolio{
    background-color: var(--black);
    color: var(--white);
    padding-top: 12px;
}

.Portfolio > *{
    margin-inline: auto;
    width: fit-content;
}


.CardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
    margin-top: 48px;
}
